<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">CCSD Challenge </div>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="">Home</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Films</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">People</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Planets</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Species</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Starships</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Vehicles</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->