<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">CCSD Challenge </div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action bg-light" routerLink="">Home</a>
      <a class="list-group-item list-group-item-action bg-light" routerLink="Films">Films</a>
      <a class="list-group-item list-group-item-action bg-light" routerLink="People">People</a>
      <a class="list-group-item list-group-item-action bg-light" routerLink="Planets">Planets</a>
      <a class="list-group-item list-group-item-action bg-light" routerLink="Species">Species</a>
      <a class="list-group-item list-group-item-action bg-light" routerLink="Starships">Starships</a>
      <a class="list-group-item list-group-item-action bg-light" routerLink="Vehicles">Vehicles</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->