
  <h1 class="mt-4">SWAPI Challenge</h1>
  Your challenged to build a simple applcations that queries the <a href="https://swapi.co/" target="_blank">SWAPI API</a>. This is a fun API that displays Star Wars movie franchise data. Please don't use ay wrapper/library, we want to see your coding skills!<br /><br />
  The challange consists on the following:
  <ul>
  <li>To start please fork this base project on <a href="https://stackblitz.com/" target="_blank">StackBlitz</a></li>
  <li>Displaying data using the routes on the left menu by querying the following endpoints:<br />
  <pre>
        <code>
            &#123;
                "films": "https://swapi.co/api/films/",
                "people": "https://swapi.co/api/people/",
                "planets": "https://swapi.co/api/planets/",
                "species": "https://swapi.co/api/species/",
                "starships": "https://swapi.co/api/starships/",
                "vehicles": "https://swapi.co/api/vehicles/"
            &#125;
        </code>
  </pre>
For instance, the "Films" route on the left should display data on an HTML table (suggested) from the <div class="d-inline p-2 bg-primary text-white">https://swapi.co/api/films/</div> endpoint and the result count should be displayed in the <strong>Total Results</strong> green square at the top right corner. You don't have to display all columns, with just a few is enough since we are just trying to assess your ability to work with an API response.</li>
<li>Create a <b>NodeJS/Express API</b> for login (we don't use Firebase)</li>
<li>Properly secure the application by adding a login component</li>
</ul>
Once you are done please send us the <b>link to your deployed app</b> and code, the team will then meet to check your code. Please keep in mind that we need to be able to both, see your code and see the app running. Check the resources section below for some suggestions. If you have any questions please let us know. 
<br /><br />

<h2>Bonus Points!</h2>
This is totally optional but you will earn bonus points if you complete any/all of the following:
<ul>
    <li>Link data internally. ie: If you query the "people" endpoint the first results is "Luke Skywalker", on the data returned you can link the "starships" to the route at "https://swapi.co/api/starships/" and filter it displaying only data for the starships 12 & 22 which are related to the pilot.</li>
    <li>Add a search box on any/all the routes to filter data</li>
    <li>Use Boostrap components and apply styles at your discretion</li>
    <li>Make the "Toggle Menu" button work, use Angular animations if possible</li>
    <li>If you feel like showing off your skills adding some fancy features we would love to see that too!</li>
</ul>
<h2>Resources</h2>
<ul>
    <li><a href="https://swapi.co/documentation" target="_blank">API Documentation</a></li>
    <li><a href="https://www.postman.com/" target="_blank">Postman API IDE</a></li>
    <li><a href="https://stackblitz.com/" target="_blank">StackBlitz</a></li>
    <li><a href="https://getbootstrap.com/" target="_blank">Bootstrap</a></li>
    <li><a href="https://repl.it/languages/nodejs" target="_blank">repl.it</a> to run your nodeJS service for free</li>
    <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs?singlepage=true" target="_blank">Heroku</a> Deploy nodeJS, Angular apps for free</li>
</ul>

<br />
<div class="alert alert-success" role="alert">
Good luck!!
</div>